/*DESKTOP*/

/*tipografia H1*/
h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/*Tipografia P*/
p, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; 
}
h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Negrita */
}

/*boton de comenzar index*/

.custom-btn {
    background-color: rgba(147, 170, 195, 0.7); 
    color: white; 
    border: 2px solid white;
    padding: 20px ; 
    font-size: 1.2rem; 
    border-radius: 10px; 
    cursor: pointer; 
  }
  
  .custom-btn:hover {
    background-color:rgba(213, 186, 131, 0.3); 
    color: white;
  }
  /*tipografia menu*/
  .navbar-brand {
    font-family: "Neonderthaw", cursive;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: normal;
  }
  /*imagen datos*/
  .imagen-cortada {
    width: 80%; 
    height: 300px; 
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
        
         
   
}
/*body quien soy*/
#bodyfondo {
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0; 
    padding: 0; 
}
/*color tipografia links navs footer*/
 
.contacto-link {
  color: brown;
}

.quien-soy-link {
  color: brown; 
}
/*img de texturas index*/
 .imgtext {max-height: 250px; border-radius: 10px;}
 /*galeria carousel texturas*/
 .carousel-img {
  height: 600px;
  object-fit: cover;
}
/*div texto index texturas*/
.divtext-index     {background-color: rgba(255, 255, 255, 0.8);
   border-radius: 10px;
    width: 100%;}
/*div contenedor fondo todos*/
.divconttext {background-color: rgba(213, 186, 131, 0.3); 
  border-radius: 10px; 
  padding: 20px;}
/*textoswhite*/
.textoswhite {
  background-color: white;
  padding: 2px;
}
/*section explotacion*/
.sectexpl {
  overflow: auto;
   padding: 10px;
    border-radius: 10px;
}
/*titulo explotacion*/
.h2expl{text-align:left;}
/*imgexpl*/
.imgexpl {float: left;
   margin-right: 15px;
    max-width: 50%;
     border-radius: 10px;}

/*img estampado*/
.imgest {width: 300px; height: auto;}
/*article diseño*/
.artdis 
.imgdis {background-color: rgba(255, 255, 255, 0.7);}

/*img diseño*/
.imgdis {max-width: 350px; border-radius: 10px;}
/*div doc index*/
.divdoc {background-color: rgba(213, 186, 131, 0.3); 
  border: 2px solid #e0874398;
   border-radius: 10px;
    max-width: 900px;
     height: auto;}
.artdoc {max-width: 800px;
   background-color: rgba(255, 255, 255, 0.7);}
.textodatos {
  color: white;
}
/*div datos*/
.divdatos {background-color: rgba(213, 186, 131, 0.8);
border: 3px solid #e0874398;}

/*Formulario*/
.formulario {
  background-color: #e7ce9d; 
  border: 2px solid #e08743; 
  border-radius: 10px;
  color: #4d342e; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.enviar-btn {
  background-color: #e08743; 
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.fondo-imagen {
  background-image: url('../complementarias/img/fondodatos.jpg'); 
  width: 70%;
  height: 50vh;

  display: flex; 
  position: relative;
}

.texto-superpuesto {
  background-color: rgba(195, 119, 65, 0.8); 
  color: white;
  border-radius: 10px; 
  padding: 20px; 
  max-width: 600px; 
}
/*juego*/
#cronometro {
  margin-top: 20px;
  font-weight: bold;
}


.jumbotron {
  background-color: #e8e0d8; /* Fondo del jumbotron en tono marrón claro */
  text-align: center; /* Centrar contenido dentro del jumbotron */
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}

#pregunta-container {
  background-color: #d2c6bc; /* Fondo del contenedor de preguntas en tono marrón medio */
}

#opciones {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar las opciones horizontalmente */
}

.btn-group-vertical .btn {
  margin-bottom: 10px;
  width: 80%; /* Reducir el ancho de los botones */
  background-color: #bfa595; /* Fondo de los botones en tono marrón */
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-group-vertical .btn:hover {
  background-color: #a68c7c; /* Tono marrón más oscuro al pasar el ratón */
}
.triviatextil {
  font-family: "Lobster", sans-serif;
  font-weight: 600;
  font-style: normal;
 
}


/*VERSION MOBILE*/
  @media (max-width: 768px) { 
    .horizontal-image {
      width: auto;
      height: 100vh; 
      object-fit: cover; 
    }
    .custom-btn {
     
        font-size: 1rem; 
     
  }
  .imagen-cortada {
    width: 80%; 
    height: 400px;}
    .imgexpl {
      max-width: 310px; 
      margin-right: 10px; 
    }
    .navbar-brand {
      white-space: normal; 
      text-align: center; 
    }
}
