/*DESKTOP*/
/*boton de comenzar index*/

.custom-btn {
    background-color: rgba(147, 170, 195, 0.7); 
    color: white; 
    border: 2px solid white;
    padding: 20px ; 
    font-size: 1.2rem; 
    border-radius: 10px; 
    cursor: pointer; 
  }
  
  .custom-btn:hover {
    background-color:rgba(213, 186, 131, 0.3); 
    color: white;
  }
  /*tipografia menu*/
  .navbar-brand {
    font-family: "Neonderthaw", cursive;
    font-weight: 500;
    font-size: 2.5rem;
    font-style: normal;
  }
  /*imagen datos*/
  .imagen-cortada {
    width: 80%; /* Ancho total del contenedor */
    height: 300px; /* Altura fija */
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat; 
        
         
   
}
#bodyfondo {
    background-image: url('img/fondo.jpg'); /* Cambia 'tu-imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Elimina los márgenes del body */
    padding: 0; /* Elimina el relleno del body */
}
.py-4 {
  color: brown;
}
  
/*VERSION MOBILE*/
  @media (max-width: 768px) { 
    .horizontal-image {
      width: auto;
      height: 100vh; 
      object-fit: cover; 
    }
    .custom-btn {
     
        font-size: 1rem; 
      }
  }
  .imagen-cortada {
    width: 80%; /* Ancho total del contenedor */
    height: 400px; /* Altura fija */
          
}